body {
    font-family: Arial, sans-serif;
    background-color: #9bedff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #06033a;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.container h1 {
    text-align: center;
    color: #2c3e50; /* Dark blue */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2980b9; /* Turquoise */
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7; /* Light gray */
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #3498db; /* Blue */
    color: #fff; /* White */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background-color: #2980b9;
}

.success-message {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    width: fit-content;
}

.failed-message {
    background-color: #d30000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    width: fit-content;
}